<div class="text-white">
  <h1 class="text-3xl">AmbuDispatch Privacy Policy</h1>

  <h1 class="text-xl mt-4 text-neutral-100">What data do we collect?</h1>

  <p class="text-neutral-300 mt-1">AmbuDispatch collects the following data:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>Personal Identification Information (name, email, phone number)</li>
    <li>Branch/Service you are assigned to</li>
    <li>Your role within your branch</li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">How do we collect your data?</h1>
  <p class="text-neutral-300 mt-1">You directly provide AmbuDispatch with most of the data we collect.</p>
  <p class="text-neutral-300">We collect data and process data when you:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>Register online for our service</li>
    <li>Use or view our website by your browser's cookies</li>
    <li>Completing optional service satisfaction surveys</li>
  </ul>
  <p class="text-neutral-300 mt-3">AmbuDispatch may also receive your data indirectly from the following sources:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>Indirectly from government agencies responsible for managing emergency services involving public safety and health</li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">How will we use your data?</h1>
  <p class="text-neutral-300 mt-1">AmbuDispatch collects your data so that we can:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>Manage your account</li>
    <li>Give you the correct services according to your role</li>
    <li>Give you the appropriate data according to your branch</li>
    <li>Communicate important service updates or changes</li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">How do we store your data?</h1>
  <p class="text-neutral-300 mt-1">AmbuDispatch securely stores your data on University of Birmingham servers.</p>
  <p class="text-neutral-300 mt-3">
    AmbuDispatch will keep all data including Personal Identification Information, the branch/service you are assigned to and your role up
    until 1st July 2024 at the latest. Once this date has been reached, we will delete all the data as previously laid out using a secure
    deletion tool and run a scan to clear residual data. This data will be permanently deleted and will not be recoverable.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">Marketing</h1>
  <p class="text-neutral-300 mt-1">
    AmbuDispatch would like to send you occasional surveys about our products and services to find out about your experience using them to
    improve user satisfaction.
  </p>
  <p class="text-neutral-300 mt-3">
    These surveys are completely optional, and you have the right to stop AmbuDispatch contacting you for this purpose.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">What are your data protection rights?</h1>
  <p class="text-neutral-300 mt-1">AmbuDispatch would like to make sure you are fully aware of your data protection rights.</p>
  <p class="text-neutral-300">Every user is entitled to the following:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>
      The right to access – You have the right to request AmbuDispatch for copies of your personal data. We may charge you a small fee for
      this service.
    </li>
    <li>
      The right to rectification – You have the right to request that AmbuDispatch correct any information you believe is inaccurate. You
      also have the right to request AmbuDispatch to complete information you believe is incomplete.
    </li>
    <li>The right to erasure – You have the right to request that AmbuDispatch erase your personal data, under certain conditions.</li>
    <li>
      The right to restrict processing – You have the right to request that AmbuDispatch restrict the processing of your personal data,
      under certain conditions.
    </li>
    <li>
      The right to object to processing – You have the right to object to AmbuDispatch’s processing of your personal data, under certain
      conditions.
    </li>
    <li>
      The right to data portability – You have the right to request that AmbuDispatch transfer the data that we have collected to another
      organisation, or directly to you, under certain conditions.
    </li>
  </ul>
  <p class="text-neutral-300 mt-4">
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at any
    of our emails attached at the bottom.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">What are cookies?</h1>
  <p class="text-neutral-300 mt-1">
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you
    visit our websites, we may collect information from you automatically through cookies or similar technology.
  </p>
  <p class="text-neutral-300 mt-3">
    For further information, visit <a href="https://allaboutcookies.org" class="text-purple-400">allaboutcookies.org</a>
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">How do we use cookies?</h1>
  <p class="text-neutral-300 mt-1">AmbuDispatch uses cookies in a range of ways to improve your experience on our website, including:</p>
  <ul class="list-disc ml-6 text-neutral-300 mt-2">
    <li>Keeping you signed in</li>
    <li>Understanding how you use our website</li>
    <li>Keeping the service secure and preventing unauthorised access or malicious activities</li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">What type of cookies do we use?</h1>
  <p class="text-neutral-300 mt-1">
    We use both session and persistent cookies. Session cookies are temporary and are deleted when you close your browser, while persistent
    cookies remain on your device for a set period.
  </p>
  <ul class="list-disc ml-6 mr-4 text-neutral-300 mt-2">
    <li>
      Functionality cookies – AmbuDispatch uses these cookies so that we recognise you on our website and remember your previous activity.
      These could include selected preferences and location. A mix of first-party and third-party cookies are used.
    </li>
    <li>
      Security cookies – AmbuDispatch uses these cookies to enhance the security of the website by preventing unauthorised access and
      protecting against malicious activities. They may, for example, help detect and mitigate potential security risks.
    </li>
    <li>
      Compliance cookies – AmbuDispatch uses these cookies to track user consent regarding the use of cookies and compliance with privacy
      regulations. They ensure that users are informed about cookie usage and have the option to provide or withdraw consent.
    </li>
    <li>
      Analytics cookies – AmbuDispatch uses these cookies to collect information about how users interact with the website. This data is
      used to analyse website traffic, understand user behaviour, and improve the website's performance and content.
    </li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">How to manage cookies</h1>
  <p class="text-neutral-300 mt-1">
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
    few cases, some of our website features may not function as a result.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">Privacy policies of other websites</h1>
  <p class="text-neutral-300 mt-1">
    The AmbuDispatch website may contain links to other websites. Our privacy policy applies only to our website, so if you click on a link
    to another website, you should read their privacy policy.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">Changes to our privacy policy</h1>
  <p class="text-neutral-300 mt-1">
    AmbuDispatch keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated
    on 5th March 2024.
  </p>

  <h1 class="text-xl mt-4 text-neutral-100">How to contact us</h1>
  <p class="text-neutral-300 mt-1">If you would like to, please contact us at any of our emails:</p>
  <ul class="list-disc ml-6 mt-2 text-neutral-300">
    <li>Edward Parting: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">exp211@student.bham.ac.uk</a></li>
    <li>Thomas Burke: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">txb206@student.bham.ac.uk</a></li>
    <li>Bader Atshan: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">bxa156@student.bham.ac.uk</a></li>
    <li>Harry Wells: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">hxw285@student.bham.ac.uk</a></li>
    <li>Harvey Randall: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">hxr286@student.bham.ac.uk</a></li>
    <li>Rufael Amanuel: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">rxa263@student.bham.ac.uk</a></li>
    <li>Taran Bains: <a href="mailto:“Exp211@student.bham.ac.uk”" class="text-purple-400">txb174@student.bham.ac.uk</a></li>
  </ul>

  <h1 class="text-xl mt-4 text-neutral-100">How to contact the appropriate authorities</h1>
  <p class="text-neutral-300 mt-1">
    Should you wish to report a complaint or feel AmbuDispatch has not addressed your concerns in a satisfactory manner you may contact the
    Information Commissioners Office.
  </p>
  <ul class="list-disc ml-6 mt-2 text-neutral-300">
    <li>Email: <a href="mailto:“casework@ico.org.uk”" class="text-purple-400">casework@ico.org.uk </a></li>
    <li>Phone Number: <a href="tel:03031231113" class="text-purple-400">03031231113</a></li>
  </ul>
</div>
