<div class="min-h-[80vh]">
  <div *ngIf="account === null || account === undefined">
    <div class="text-white w-full mb-20 min-h-[40vh]">
      <div class="w-full flex items-center justify-center">
        <div class="bg-red-600 w-[60%] p-3 border-2 border-red-700 rounded-lg flex flex-row items-center justify-between">
          <h1 class="text-xl"><strong>You are not logged in</strong>, you must be logged into this protected page!</h1>
          <h1 class="mr-2 text-3xl mt-[-5px]">x</h1>
        </div>
      </div>
      <div class="mt-8 flex items-center justify-center w-full flex-col">
        <h1>
          Please sign in to view this page, please then navigate back to <span class="px-2 py-1 bg-neutral-700 rounded-md">/events</span> !
        </h1>
        <a [routerLink]="'/login'">
          <button aria-label="open sign in page" class="button bg-slate-600 hover:bg-slate-700 w-[100px] mt-3">Sign In</button>
        </a>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      account !== undefined &&
      account !== null &&
      !(
        account.authorities.includes('ROLE_ADMIN') ||
        account.authorities.includes('ROLE_DISPATCHER') ||
        account.authorities.includes('ROLE_CONTROL_ROOM_MANAGER') ||
        account.authorities.includes('ROLE_LOGGIST') ||
        account.authorities.includes('ROLE_MANAGEMENT')
      )
    "
  >
    <div class="text-white w-full mb-20 min-h-[40vh]">
      <div class="w-full flex items-center justify-center">
        <div class="bg-red-600 w-[60%] p-3 border-2 border-red-700 rounded-lg flex flex-row items-center justify-between">
          <h1 class="text-xl">
            <strong>You are not authorised to view this page! </strong>
            <span class="text-lg"
              >Only <span class="px-2 py-1 bg-neutral-700 rounded-md">ADMIN</span>,
              <span class="px-2 py-1 bg-neutral-700 rounded-md">MANAGEMENT</span>,
              <span class="px-2 py-1 bg-neutral-700 rounded-md">CONTROL ROOM MANAGER</span>,
              <span class="px-2 py-1 bg-neutral-700 rounded-md">LOGGIST</span>,
              <span class="px-2 py-1 bg-neutral-700 rounded-md">DISPATCHER</span>, accounts can access this!
            </span>
          </h1>
          <h1 class="mr-2 text-3xl mt-[-5px]">x</h1>
        </div>
      </div>
      <div class="mt-8 flex items-center justify-center w-full flex-col">
        <h1>
          Please sign in with an authorised account to view this page, please then navigate back to
          <span class="px-2 py-1 bg-neutral-700 rounded-md">/events/(event-id)/large-breaks-view</span> !
        </h1>
        <a [routerLink]="'/login'">
          <button aria-label="open sign in page" class="button bg-slate-600 hover:bg-slate-700 w-[100px] mt-3">Sign In</button>
        </a>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      account !== undefined &&
      account !== null &&
      (account.authorities.includes('ROLE_ADMIN') ||
        account.authorities.includes('ROLE_DISPATCHER') ||
        account.authorities.includes('ROLE_CONTROL_ROOM_MANAGER') ||
        account.authorities.includes('ROLE_LOGGIST') ||
        account.authorities.includes('ROLE_MANAGEMENT'))
    "
    class="fixed top-0 z-50 left-0 w-[100vw] h-[100vh] bg-neutral-800 overflow-hidden"
    style="overflow: hidden"
  >
    <div class="h-full w-full overflow-hidden" style="overflow: hidden">
      <breaks-component></breaks-component>
    </div>
  </div>
</div>
<style>
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
</style>
