.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 70px;
  margin-bottom: 40px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
