<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-resource-breaks-heading" data-cy="ResourceBreaksCreateUpdateHeading">Create or edit a Resource Breaks</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastBreak">Last Break</label>
          <div class="d-flex">
            <input
              id="field_lastBreak"
              data-cy="lastBreak"
              type="datetime-local"
              class="form-control"
              name="lastBreak"
              formControlName="lastBreak"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('lastBreak')!.invalid && (editForm.get('lastBreak')!.dirty || editForm.get('lastBreak')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lastBreak')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('lastBreak')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_breakRequested">Break Requested</label>
          <input
            type="checkbox"
            class="form-check"
            name="breakRequested"
            id="field_breakRequested"
            data-cy="breakRequested"
            formControlName="breakRequested"
          />
          <div
            *ngIf="
              editForm.get('breakRequested')!.invalid && (editForm.get('breakRequested')!.dirty || editForm.get('breakRequested')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('breakRequested')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_startedBreak">Started Break</label>
          <div class="d-flex">
            <input
              id="field_startedBreak"
              data-cy="startedBreak"
              type="datetime-local"
              class="form-control"
              name="startedBreak"
              formControlName="startedBreak"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_onBreak">On Break</label>
          <input type="checkbox" class="form-check" name="onBreak" id="field_onBreak" data-cy="onBreak" formControlName="onBreak" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
